\*,
\*::before,
\*::after {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.page {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0;
  font-family: "Releway", sans-serif;
  background-color: #fec7ee;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1; 
  background-color: rgb(255 255 255 0.3);
}

.page__video {
  position: absolute;
  inset: 0; /*нулевые координаты*/
  width: 100%;
  height: 100%;
  object-fit: cover; /*Свойство, которое позволяет управлять тем, как картинка <img> или видео <video> будет подстраиваться под заданные размеры.*/
  object-position: center;
}

.page__title {
  z-index: 1;
  max-width: 720px;
  margin: 60px auto 1230px;
  font-size: 116px;
  letter-spacing: 0.035em;
  text-align: center;
  text-transform: uppercase;
}

.page__title::after {
  content: "*";
  position: relative;
}

.page__title:hover {
  color: #4c4c4c;
  cursor: default;
}

.page__title:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  position: absolute;
  top: 180px;
  right: 20px;
  max-width: 760px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 12px 0 #000;
  color: #000;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: normal;
  font-weight: normal;
  text-align: left;
  text-transform: initial;
  background-color: #fff;
  white-space: pre;
}
